.contact {
   padding: 1rem;
    width: 100%;
    color: #2F4858;
    text-align: center;
  
    h1 {
      text-align: center;
      margin-top: 2rem;
      font-size: 1.7rem;
    }

    p {
      width: 80%;
      font-size: 0.9rem;
      margin: 0.5rem auto;
    }
  
    button {
      font-size: 0.9rem;
      background-color: #FFDD00;
      border: none;
      padding: 0.5rem 2rem;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  
      &:hover {
        background-color: lighten(#FFDD00, 20%);
      }
    }
  
    form {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: left;
  
      .nameAndCompany {
        width: 100%;
  
        .name,
        .company {
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
        }
      }
  
      input,
      textarea {
        width: 90%;
      }
  
      input,
      textarea {
        margin-bottom: 0.8rem;
        border: none;
        outline: none;
        font-size: 0.95rem;
        padding: 0.5rem;
        color: black;
        resize: none;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
      }
    }
  
    .confirmed {
      width: 80%;
      margin: 1rem auto;
      display: flex;
      align-items: center;
      flex-direction: column;
  
      p {
        text-align: center;
        font-size: 1.1rem;
      }
  
      button {
        margin-top: 1rem;
      }
    }
  }
  
  @media only screen and (min-width: 533px) {
    .contact {
      h1 {
        font-size: 2rem;
      }
  
      .confirmed {
        p {
          font-size: 1.5rem;
        }
      }
  
      form {
        width: 90%;
        margin: 1rem auto;
  
        button {
          font-size: 1.1rem;
          margin-top: 1rem;
        }
  
        input,
        textarea {
          font-size: 1rem;
        }
  
        .nameAndCompany {
          display: flex;
          align-items: center;
          place-content: space-between;
          width: 90%;
  
          .name {
            label,
            input {
              margin-right: auto;
              width: 95%;
            }
          }
  
          .company {
            label,
            input {
              margin-left: auto;
              width: 95%;
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: 800px) {
    .contact {
      form {
        width: 60%;
      }
    }
  }

  @media only screen and (min-width: 1200px) {
    .contact {
      form {
        width: 50%;
      }
    }
  }
  
  @media only screen and (min-width: 1500px) {
    .contact {
      form {
        width: 30%;
      }
    }
  }
  